# Gold Price Prediction Project - GMT211

►Kaan Kılıçarslan - 2220674042
►Abdullah Kasım İlen -
►Remzi Can Dağdeviren -

# 1. Data Collection

Data Set Columns:

#0   Date - mm/dd/yyyy
#1   SPX - stock market index of the 500 largest companies listed on stock exchanges in the US
#2   GLD - Gold Price   
#3   USO - United States Oil Fund
#4   SLV - Silver Price
#5   EUR/USD - Currency pair quotation of the Euro against the US

In [35]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv(r"C:\Users\ASUS\Desktop\Data's\gld_price_data.csv")

In [17]:
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2290 entries, 0 to 2289
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2290 non-null   object
 1   SPX      2290 non-null   float64
 2   GLD      2290 non-null   float64
 3   USO      2290 non-null   float64
 4   SLV      2290 non-null   float64
 5   EUR/USD  2290 non-null   float64
dtypes: float64(5), object(1)
memory usage: 107.5+ KB

In [20]:
df.shape

(2290, 6)

In [21]:
df.describe()

               SPX          GLD          USO          SLV      EUR/USD
count  2290.000000  2290.000000  2290.000000  2290.000000  2290.000000
mean   1654.315776   122.732875    31.842221    20.084997     1.283653
std     519.111540    23.283346    19.523517     7.092566     0.131547
min     676.530029    70.000000     7.960000     8.850000     1.039047
25%    1239.874969   109.725000    14.380000    15.570000     1.171313
50%    1551.434998   120.580002    33.869999    17.268500     1.303297
75%    2073.010070   132.840004    37.827501    22.882500     1.369971
max    2872.870117   184.589996   117.480003    47.259998     1.598798

In [22]:
for col in df.select_dtypes(include='object').columns:
    print(col)
    print(df[col].unique())
    
#this is gold price dataset
#the dataset gives you information about a gold prices based on serveral other stock prices.

Date
['1/2/2008' '1/3/2008' '1/4/2008' ... '5/10/2018' '5/14/2018' '5/16/2018']

# 2. Finding Unwanted Columns

There is no unwanted column present in given dataset to remove

# 3. Find Missing Values

In [24]:
features_na = [features for features in df.columns if df[features].isnull().sum() > 0]
for feature in features_na:
    print(feature, np.round(df[feature].isnull().mean(), 4), '% missing values')
else:
    print("No missing value found")

No missing value found

# 3. Find Features with One Value

In [25]:
for column in df.columns:
    print(column,df[column].nunique())

Date 2290
SPX 2277
GLD 1930
USO 1514
SLV 1331
EUR/USD 2066

# 4. Explore the Categorial Features

In [26]:
# list of numerical variables
numerical_features = [feature for feature in df.columns if ((df[feature].dtypes is '0') & (feature not in ['GLD']))]
print('Number of numerical variables: ', len(numerical_features))

# visualise the numerical variables
df[numerical_features].head()

Number of numerical variables:  0

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\ASUS\AppData\Local\Temp\ipykernel_11224\1068350716.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  numerical_features = [feature for feature in df.columns if ((df[feature].dtypes is '0') & (feature not in ['GLD']))]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

# 5. Find Discrete Numerical Features

In [27]:
discrete_feature=[feature for feature in numerical_features if len(df[feature].unique())<25]
print("Discrete Variables Count: {}".format(len(discrete_feature)))

Discrete Variables Count: 0

# 6. Find Countinous Numerical Features

In [29]:
continuous_features=[feature for feature in numerical_features if feature not in descrete_feature+['GOD']]
print("Continuous feature Count {}".format(len(continuous_features)))

Continuous feature Count 0

# 7. Distribution of Continous Numerical Features

In [36]:
# plot a univariate distribution of continues observations

plt.figure(figsize=(20,60), facecolor='white')
plotnumber = 1
for continuous_feature in continuous_features:
    ax = plt.subplot(12,3,plotnumber)
    sns.distplot(df[continuous_feature])
    plt.xlabel(continuous_feature)
    plotnumber += 1
plt.show()

# 8. Relation between Continous numerical Features and Labels

In [33]:
plt.figure(figsize=(20,60), facecolor = 'white')
plotnumber =1
for feature in continuous_features:
    data=df.copy()
    ax=plt.subplot(12,3,plotnumber)
    plt.scatter(data[feature],data['GLD'])
    plt.xlabel(feature)
    plt.ylabel('GLD')
    plt.title(feature)
    plotnumber+=1
plt.show()

# 9. Find Outliners in numerical features

In [37]:
plt.figure(figsize=(20,60), facecolor = 'white')
plotnumber =1
for numerical_feature in numerical_features:
    ax=plt.subplot(12,3,plotnumber)
    sns.boxplot(df[numerical_feature])
    plt.xlabel(numerical_feature)
    plotnumber+=1
plt.show()

# 10. Explore the Correlation between numerical features